<a href="https://colab.research.google.com/github/enoamoo/eno/blob/master/Amoo_Eno_Quiz_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [3]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sn 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [4]:
#read the excel file from a web page and store as dataframe
csv_df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')  
df = csv_df
df.describe(include='all')

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-03-24 00:40:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

# selecting sample of Dataset

In [5]:
#let's select a sample of the dataset using Appliances column as the predictor and the rv1 column the response variable.
simple_linear_reg_df = df[['Appliances', 'rv1']].sample(15)
simple_linear_reg_df

       Appliances        rv1
18840          80  24.380003
15799         700  16.022923
10743          50  40.107711
4826           60  20.591329
14750          50   0.590269
1246          350  48.054959
6719           60   6.881579
17602          60   3.174265
7879           50   2.517087
17059          60   4.774676
19089          80  38.480341
12617          60  30.370563
13031          40  12.885327
17167          80  42.924005
18348          40  27.817316

In [6]:
# SOLUTION TO QUESTION 12
x = np.array(csv_df['T2']).reshape((-1,1))
y = csv_df['T6']

reg = LinearRegression()
reg.fit(x, y)
reg.score(x, y).round(2)

0.64

In [7]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df.drop(columns=['date', 'lights'],inplace=True)
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [8]:
#Next, we split 70% of the data to the training set while 30% of the data to test set using the code below.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size=0.3, random_state=42)

linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
#obtain predictions
predicted_values = linear_model.predict(x_test)
predicted_values

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [10]:
#Now compare the actual output values for X_test with the predicted values, execute the following script:
df = pd.DataFrame({'Actual': y_test, 'Predicted': predicted_values})
df

         Actual  Predicted
8980   0.028037   0.033222
2754   0.074766   0.244116
9132   0.037383   0.034000
14359  0.037383   0.105377
8875   0.056075   0.023360
...         ...        ...
831    0.224299   0.086607
10993  0.046729   0.075163
11761  0.037383   0.068447
12364  0.093458   0.100323
11863  0.037383   0.057222

[5921 rows x 2 columns]

# Mean Absolute Error

In [11]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

# R-Square

In [12]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

# Residual Sum of Square

In [13]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

# Root Mean Square Error

In [14]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

# Ridge Regression

In [15]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

# Feature Selection and Lasso Regression

In [16]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

# comparing the effects of regularisation

In [17]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.401134     -0.000000
1         T_out            -0.321860     -0.250765      0.000000
2            T2            -0.236178     -0.193880      0.000000
3            T9            -0.189941     -0.188584     -0.000000
4          RH_8            -0.157595     -0.156596     -0.000110
5        RH_out            -0.077671     -0.050541     -0.049557
6          RH_7            -0.044614     -0.046291     -0.000000
7          RH_9            -0.039800     -0.041701     -0.000000
8            T5            -0.015657     -0.020727     -0.000000
9            T1            -0.003281     -0.021549      0.000000
10          rv1             0.000770      0.000743     -0.000000
11          rv2             0.000770      0.000743     -0.000000
12  Press_mm_hg             0.006839      0.006516     -0.000000
13           T7             0.010319      0.010021     -0.000000
14   Visibility             0.012307      0.012032      0.000000
15         RH_5             0.016006      0.016176      0.000000
16         RH_4             0.026386      0.024168      0.000000
17           T4             0.028981      0.027006     -0.000000
18    Windspeed             0.029183      0.030463      0.002912
19         RH_6             0.038049      0.035023     -0.000000
20         RH_3             0.096048      0.094976      0.000000
21           T8             0.101995      0.100754      0.000000
22    Tdewpoint             0.117758      0.076668      0.000000
23           T6             0.236425      0.213316      0.000000
24           T3             0.290627      0.287408      0.000000
25         RH_1             0.553547      0.511932      0.017880